* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
}
.main .main__title{
    grid-column: 1/-1;
    text-align: center;
}
.main .main__body{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1/-1;
    justify-items: start;
    grid-gap: 30px;
    padding: 0px 30px;
}
.main .main__btn{
    font-size: 15px;
    color: black;
    background: yellow;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}
.main .main__body p{
    align-self:center;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;

  }
  .popup .popup__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .popup .popup__form input{
    height: 25px;
  }
  h1{
    text-align: center;
  }
  .popup__form .popup__form__wrapperSubmit{
    grid-column: 1/3;
    display: grid;
    justify-items: center;
 
  }
  .popup__form .popup__form__wrapperSubmit input{
    background: yellow;
    border: none;
    width: 100px;
    height: 37px;
  }
  .popup__form__wrapperInput{
    display: grid;
  }
  .error{
    color: red;
  }